.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(90deg, #f6d365, #fda085); /* add gradient background */

  p {
    font-family: system-ui;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
    animation: pulse 1s ease-in-out infinite; /* add animation */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.9);
      opacity: 0.7;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.9);
      opacity: 0.7;
    }
  }
}
