.campus-,
.sphere1111111008 {
  position: relative;
  line-height: 1.71rem;
  font-weight: 600;

  width: 100vw;

}
.sphere1111111008 {
  margin-top: -0.04rem;
}
.h4fs-1 {
  position: absolute;
  top: calc(50% - 31.55px);
  left: calc(50% - 930.05px);
  display: flex;
  flex-direction: column;
  padding: 0 0.57rem 0.02rem 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.login {
  position: relative;
  letter-spacing: -0.4px;
  line-height: 2rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}
.abutton {
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-100);
  padding: var(--padding-lg) 3.03rem var(--padding-lg) var(--padding-29xl);
}
.abutton,
.abutton1,
.divnav1-inner-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.abutton1 {
  border-radius: var(--br-31xl);
  background-color: #5e5df0;
  padding: var(--padding-lg) 2.65rem var(--padding-lg) var(--padding-29xl);
}
.divnav1-inner-btns {
  position: absolute;
  top: calc(50% - 34px);
  left: 83.69rem;
  padding: 0;
  gap: var(--gap-lg);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.divheader1-inner {
  position: relative;
  width: 108.75rem;
  height: 4.25rem;
  flex-shrink: 0;
  z-index: 0;
}
.documents,
.home,
.news,
.projects {
  position: absolute;
  top: 0;
  left: 2.13rem;
  letter-spacing: -0.4px;
  line-height: 2rem;
  font-weight: 500;
}
.documents,
.news,
.projects {
  left: 9.61rem;
}
.news,
.projects {
  left: 19.96rem;
}
.news {
  left: 28.52rem;
}
.divnav1-inner-links {
  position: absolute;
  margin: 0 !important;
  height: calc(100% - 36px);
  width: calc(100% - 1281.22px);
  top: 1.13rem;
  right: 40.04rem;
  bottom: 1.13rem;
  left: 40.04rem;
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.divauto-container,
.divheader {
  display: flex;
  flex-direction: row;
  padding: 0 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.divheader {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  padding: 1.75rem 3.73rem;
  box-sizing: border-box;
  font-size: 1.42rem;
  color: var(--color-blue);
}
.welcome-to-campus- {
  position: absolute;
  top: 0;
  left: 1.63rem;
  letter-spacing: -2.88px;
  line-height: 6rem;
}
.ech-for-students,
.sphere-social-media-t {
  position: absolute;
  top: 6rem;
  left: 0.84rem;
  letter-spacing: -2.88px;
  line-height: 6rem;
}
.ech-for-students {
  top: 12rem;
  left: 9.58rem;
}
.h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 68.75rem;
  height: 18rem;
}
.social-media-technology {
  position: absolute;
  top: 0;
  left: 2.99rem;
  letter-spacing: -0.64px;
  line-height: 2rem;
}
.businesses-and-creating,
.communication-and-continues {
  position: absolute;
  top: 2rem;
  left: 3.67rem;
  letter-spacing: -0.64px;
  line-height: 2rem;
}
.communication-and-continues {
  top: 4rem;
  left: 1.51rem;
}
.pextra {
  position: absolute;
  top: 20rem;
  left: 0;
  width: 68.75rem;
  height: 6rem;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-100);
}
.abutton2 {
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) 2.65rem var(--padding-lg) var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.svg-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  overflow: hidden;
}
.abutton3,
.divintro-btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.abutton3 {
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  padding: var(--padding-lg) 2.73rem var(--padding-lg) var(--padding-29xl);
  gap: var(--gap-sm);
  color: #101828;
}
.divintro-btns {
  position: absolute;
  top: 28.63rem;
  left: 0;
  padding: 0 16.4rem;
  gap: var(--gap-lg);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.divintro-inner,
.pseudo {
  position: relative;
  width: 68.75rem;
  height: 32.88rem;
  flex-shrink: 0;
}
.pseudo {
  position: absolute;
  margin: 0 !important;
  top: 11.5rem;
  left: 0;
  background: linear-gradient(135deg, #f54092, #9c54ff 53.75%, #54c6ff);
  width: 121.22rem;
  height: 53.68rem;
  z-index: 0;
}
.pexels-photo-262508jpeg-icon {
  position: absolute;
  top: calc(50% - 506.5px);
  left: calc(50% - 763px);
  width: 95.38rem;
  height: 63.31rem;
  object-fit: cover;
}
.divdash-inner-image {
  position: absolute;
  top: 5.13rem;
  left: 5.13rem;
  border-radius: var(--br-17xl);
  background-color: #f7f6fc;
  width: 98.5rem;
  height: 66.44rem;
}
.pexels-icnpng-icon {
  position: absolute;
  width: calc(100% - 1710px);
  top: calc(50% + 543.5px);
  right: 53.44rem;
  left: 53.44rem;
  max-width: 100%;
  overflow: hidden;
  height: 1.88rem;
  object-fit: cover;
}
.divdash-inner {
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(
    99.22deg,
    rgba(255, 255, 255, 0.2) 12.46%,
    rgba(255, 255, 255, 0.03) 80.97%
  );
  width: 108.75rem;
  height: 76.69rem;
  flex-shrink: 0;
  z-index: 1;
}
.divdash,
.divjustify-content-between {
  display: flex;
  flex-direction: row;
  padding: 0 6.23rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.divjustify-content-between {
  position: absolute;
  top: 7.95rem;
  left: 0;
  flex-direction: column;
  padding: 17.19rem 0 0;
  align-items: center;
  gap: 5.63rem;
  text-align: center;
  font-size: var(--font-size-77xl);
  color: var(--color-gray-100);
}
.divslogan-icon {
  position: absolute;
  top: calc(50% - 36px);
  left: 0;
  border-radius: var(--br-17xl);
  width: 4.5rem;
  height: 4.5rem;
}
.about {
  position: absolute;
  top: 1.17rem;
  left: 6rem;
  line-height: 1.88rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 4.43rem;
  height: 1.69rem;
}
.divslogan {
  position: absolute;
  top: 0;
  left: 0;
  width: 26.88rem;
  height: 4.5rem;
}
.social-media {
  position: absolute;
  top: -0.19rem;
  left: 0;
  width: 17.99rem;
}
.social-media,
.solutions-from,
.technology {
  letter-spacing: -0.96px;
  line-height: 3rem;
  display: flex;
  align-items: center;
  height: 3.31rem;
}
.technology {
  position: absolute;
  top: 2.81rem;
  left: 0;
  width: 19.22rem;
}
.solutions-from {
  top: 5.81rem;
  width: 20.66rem;
}
.campus-sphere,
.h2,
.solutions-from {
  position: absolute;
  left: 0;
}
.campus-sphere {
  top: 8.81rem;
  letter-spacing: -0.96px;
  line-height: 3rem;
  display: flex;
  align-items: center;
  width: 22.68rem;
  height: 3.31rem;
}
.h2 {
  top: 6rem;
  width: 26.88rem;
  height: 12rem;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.campus-spheres-social,
.comprehensive-and-streamlined,
.platform-for-businesses,
.technology-website-provides {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  width: 21.82rem;
  height: 1.69rem;
}
.comprehensive-and-streamlined,
.platform-for-businesses,
.technology-website-provides {
  top: 1.38rem;
  width: 21.97rem;
}
.comprehensive-and-streamlined,
.platform-for-businesses {
  top: 2.88rem;
  width: 22.6rem;
}
.platform-for-businesses {
  top: 4.38rem;
  width: 25.82rem;
}
.channels-and-better,
.latest-tools-and,
.online-presence-it,
.them-to-gain,
.tools-that-allow {
  position: absolute;
  top: 5.88rem;
  left: 0;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  width: 26.02rem;
  height: 1.69rem;
}
.channels-and-better,
.online-presence-it,
.them-to-gain,
.tools-that-allow {
  top: 7.38rem;
  width: 27.73rem;
}
.channels-and-better,
.online-presence-it,
.tools-that-allow {
  top: 8.88rem;
  width: 24.26rem;
}
.online-presence-it,
.tools-that-allow {
  top: 10.38rem;
  width: 27.68rem;
}
.tools-that-allow {
  top: 11.88rem;
  width: 25.7rem;
}
.activity-and-disseminate,
.content-that-drives,
.meaningful-connections-with,
.track-and-analyze {
  position: absolute;
  top: 13.38rem;
  left: 0;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  width: 28.63rem;
  height: 1.69rem;
}
.activity-and-disseminate,
.content-that-drives,
.track-and-analyze {
  top: 14.88rem;
  width: 25.41rem;
}
.activity-and-disseminate,
.content-that-drives {
  top: 16.38rem;
  width: 23.66rem;
}
.content-that-drives {
  top: 17.88rem;
  width: 27.66rem;
}
.pbig {
  position: absolute;
  top: 20rem;
  left: 0;
  width: 26.88rem;
  height: 19.5rem;
  color: var(--color-darkslategray-100);
}
.get-started {
  position: relative;
  text-decoration: underline;
  letter-spacing: -0.4px;
  line-height: 2rem;
  font-weight: 600;
}
.abutton4 {
  position: absolute;
  top: 43.5rem;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-mediumaquamarine);
  box-shadow: 0 10px 20px rgba(36, 207, 164, 0.2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) 2.64rem var(--padding-lg) var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.divfeaturehead {
  position: relative;
  width: 26.88rem;
  height: 47.75rem;
  flex-shrink: 0;
}
.divfeatureitem-icon {
  position: absolute;
  top: 2.25rem;
  left: 2.25rem;
  border-radius: var(--br-17xl);
  width: 4.5rem;
  height: 4.5rem;
}
.post-scheduling {
  position: absolute;
  top: 9.69rem;
  left: 2.25rem;
  line-height: 1.88rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 11.78rem;
  height: 1.69rem;
}
.ability-to-pre-schedule,
.designated-date-and {
  position: absolute;
  top: 0.31rem;
  left: 0;
  line-height: 2rem;
  display: flex;
  align-items: center;
}
.designated-date-and {
  top: 2.31rem;
}
.divfeatureitem,
.p {
  position: absolute;
  overflow: hidden;
}
.p {
  top: 12.63rem;
  left: 2.25rem;
  width: 26.88rem;
  height: 4rem;
  font-size: var(--font-size-xl);
}
.divfeatureitem {
  top: 1.5rem;
  left: 1.5rem;
  border-radius: var(--br-xs);
  background-color: var(--color-lightcyan);
  width: 31.38rem;
  height: 20rem;
}
.content-curation {
  position: absolute;
  top: 9.69rem;
  left: 2.25rem;
  line-height: 1.88rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 12.51rem;
  height: 1.69rem;
}
.divfeatureitem1 {
  position: absolute;
  top: 1.5rem;
  left: 35.88rem;
  border-radius: var(--br-xs);
  background-color: var(--color-lightcyan);
  width: 31.38rem;
  height: 20rem;
  overflow: hidden;
}
.analytics-tracking {
  position: absolute;
  top: 9.69rem;
  left: 2.25rem;
  line-height: 1.88rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 13.46rem;
  height: 1.69rem;
}
.divfeatureitem2 {
  position: absolute;
  top: 24.5rem;
  left: 1.5rem;
  border-radius: var(--br-xs);
  background-color: var(--color-lightcyan);
  width: 31.38rem;
  height: 20rem;
  overflow: hidden;
}
.user-engagement {
  position: absolute;
  top: 9.69rem;
  left: 2.25rem;
  line-height: 1.88rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 12.95rem;
  height: 1.69rem;
}
.divfeatureitem3 {
  position: absolute;
  top: 24.5rem;
  left: 35.88rem;
  border-radius: var(--br-xs);
  background-color: var(--color-lightcyan);
  width: 31.38rem;
  height: 20rem;
  overflow: hidden;
}
.influencer-outreach {
  position: absolute;
  top: 9.69rem;
  left: 2.25rem;
  line-height: 1.88rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 14.47rem;
  height: 1.69rem;
}
.divfeatureitem4 {
  position: absolute;
  top: 47.5rem;
  left: 1.5rem;
  border-radius: var(--br-xs);
  background-color: var(--color-lightcyan);
  width: 31.38rem;
  height: 20rem;
  overflow: hidden;
}
.data-insights {
  position: absolute;
  top: 9.69rem;
  left: 2.25rem;
  line-height: 1.88rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 9.53rem;
  height: 1.69rem;
}
.divfeatureitem5 {
  position: absolute;
  top: 47.5rem;
  left: 35.88rem;
  border-radius: var(--br-xs);
  background-color: var(--color-lightcyan);
  width: 31.38rem;
  height: 20rem;
  overflow: hidden;
}
.divfeature-row {
  position: relative;
  width: 68.75rem;
  height: 69rem;
  flex-shrink: 0;
  color: var(--color-darkslategray-100);
}
.divfeature-inner {
  position: absolute;
  top: 152.83rem;
  left: 6.23rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14.63rem;
}
.divslogan-icon1 {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 145.62px);
  border-radius: var(--br-17xl);
  width: 4.5rem;
  height: 4.5rem;
}
.get-early-access {
  position: absolute;
  top: 1.11rem;
  left: 26.9rem;
  line-height: 1.88rem;
  font-weight: 600;
}
.divslogan1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60rem;
  height: 4.5rem;
}
.join-the-waitlist {
  position: absolute;
  top: 6rem;
  left: 6.26rem;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.96px;
  line-height: 3rem;
  color: var(--color-gray-100);
}
.are-you-interested {
  position: absolute;
  top: 0;
  left: 0.67rem;
  line-height: 1.5rem;
}
.media-technology-join,
.this-innovative-platform {
  position: absolute;
  top: 1.5rem;
  left: 0.98rem;
  line-height: 1.5rem;
}
.this-innovative-platform {
  top: 3rem;
  left: 22.06rem;
}
.pbig1 {
  position: absolute;
  top: 11rem;
  left: 0;
  width: 60rem;
  height: 4.5rem;
  color: var(--color-darkslategray-100);
}
.abutton5 {
  position: absolute;
  top: 18.13rem;
  left: calc(50% - 119.62px);
  border-radius: var(--br-31xl);
  background-color: var(--color-orange);
  box-shadow: 0 10px 20px rgba(250, 158, 53, 0.4);
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) 2.76rem var(--padding-lg) var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.divjoin-inner-content {
  position: relative;
  width: 60rem;
  height: 22.38rem;
  flex-shrink: 0;
}
.divjoin-inner {
  position: absolute;
  top: 234.33rem;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: #feefde;
  display: flex;
  flex-direction: row;
  padding: 8rem 30.61rem;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-orange);
}
.divslogan-icon2 {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 96.7px);
  border-radius: var(--br-17xl);
  width: 4.5rem;
  height: 4.5rem;
}
.partners {
  position: absolute;
  top: 1.11rem;
  left: 37.39rem;
  line-height: 1.88rem;
  font-weight: 600;
}
.divslogan2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 75rem;
  height: 4.5rem;
}
.companies-and-counting {
  position: absolute;
  top: 6rem;
  left: 19.54rem;
  font-size: var(--font-size-29xl);
  letter-spacing: -0.96px;
  line-height: 3rem;
  color: var(--color-gray-100);
}
.join-our-clients {
  position: absolute;
  top: 11rem;
  left: 13.54rem;
  line-height: 1.5rem;
  color: var(--color-darkslategray-100);
}
.slack-logo-iconpng {
  position: absolute;
  top: calc(50% - 50.01px);
  left: calc(50% - 600px);
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
}
.goog-0ed88f7cpng-icon,
.meta-logo-768x432png-icon {
  position: absolute;
  top: calc(50% - 28.13px);
  left: calc(50% - 325px);
  width: 6.25rem;
  height: 3.52rem;
  object-fit: cover;
}
.goog-0ed88f7cpng-icon {
  top: calc(50% - 50.99px);
  left: calc(50% - 50px);
  height: 6.37rem;
}
.d41e3fec290a0332f5cf9d6a4ca5c-icon,
.px-microsoft-logosvgpng-icon {
  position: absolute;
  top: calc(50% - 50.01px);
  left: calc(50% + 225px);
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
}
.d41e3fec290a0332f5cf9d6a4ca5c-icon {
  top: calc(50% - 37.51px);
  left: calc(50% + 500px);
  height: 4.69rem;
}
.divclient-row {
  position: absolute;
  top: 18.5rem;
  left: 0;
  width: 75rem;
  height: 6.37rem;
}
.join-now {
  position: relative;
  letter-spacing: -0.4px;
  line-height: 2rem;
  font-weight: 600;
}
.abutton6 {
  position: absolute;
  top: 31.12rem;
  left: calc(50% - 90.84px);
  border-radius: var(--br-31xl);
  background-color: var(--color-hotpink);
  box-shadow: 0 10px 20px rgba(245, 76, 148, 0.2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) 2.92rem var(--padding-lg) var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.divclient-inner {
  position: absolute;
  top: 285.2rem;
  left: calc(50% - 600px);
  width: 75rem;
  height: 35.37rem;
  text-align: center;
  color: var(--color-hotpink);
}
.gallery {
  position: absolute;
  top: 1.11rem;
  left: 6rem;
  line-height: 1.88rem;
  font-weight: 600;
}
.divslogan3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 45.63rem;
  height: 4.5rem;
}
.connecting-you-with {
  position: relative;
  letter-spacing: -0.96px;
  line-height: 3rem;
}
.h2orange {
  position: absolute;
  top: 6rem;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1.81rem 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.campus-sphere-offers {
  position: relative;
  line-height: 1.25rem;
}
.divgallery-head,
.p6 {
  position: absolute;
  left: 0;
}
.p6 {
  top: 14rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
}
.divgallery-head {
  top: 0;
  width: 45.63rem;
  height: 19rem;
}
.pexels-photo-262508jpeg-icon1 {
  position: absolute;
  top: calc(50% - 356px);
  left: calc(50% - 280.36px);
  width: 35.05rem;
  height: 44.5rem;
  object-fit: cover;
}
.divgallerygrid-item {
  position: relative;
  border-radius: var(--br-xl);
  width: 35.05rem;
  height: 44.5rem;
  flex-shrink: 0;
  overflow: hidden;
}
.pexels-photo-267371jpeg-icon {
  position: absolute;
  top: calc(50% - 171px);
  left: calc(50% - 280.36px);
  width: 35.05rem;
  height: 21.38rem;
  object-fit: cover;
}
.divgallerygrid-item1 {
  position: relative;
  border-radius: var(--br-xl);
  width: 35.05rem;
  height: 21.38rem;
  flex-shrink: 0;
  overflow: hidden;
}
.divgallerygrid-top {
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 0.88rem var(--padding-sm) var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.75rem;
}
.pexels-photo-2228555jpeg-icon {
  position: absolute;
  top: calc(50% - 171px);
  left: calc(50% - 574.74px);
  width: 71.84rem;
  height: 21.38rem;
  object-fit: cover;
}
.divgallerygrid-item3 {
  position: relative;
  border-radius: var(--br-xl);
  width: 71.84rem;
  height: 21.38rem;
  flex-shrink: 0;
  overflow: hidden;
}
.divgallerygrid,
.divgallerygrid-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.divgallerygrid-col {
  flex-direction: column;
  padding: 0 0 var(--padding-sm);
}
.divgallerygrid {
  position: absolute;
  top: 23.75rem;
  left: -0.87rem;
  flex-direction: row;
  padding: 0 0.11rem 0 var(--padding-sm);
}
.divgallery-inner {
  position: relative;
  width: 108.75rem;
  height: 70rem;
  flex-shrink: 0;
}
.divgallery {
  position: absolute;
  top: 333.08rem;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 6.23rem;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-orange);
}
.divslogan-icon4 {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 120.47px);
  border-radius: var(--br-17xl);
  width: 4.5rem;
  height: 4.5rem;
}
.testimonials {
  position: absolute;
  top: 1.11rem;
  left: 21.91rem;
  line-height: 1.88rem;
  font-weight: 600;
}
.divslogan4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46.88rem;
  height: 4.5rem;
}
.experience-the-powerful {
  position: absolute;
  top: 0;
  left: 5.96rem;
  letter-spacing: -0.96px;
  line-height: 3rem;
}
.benefits-of-social,
.technology-today {
  position: absolute;
  top: 3rem;
  left: 6.9rem;
  letter-spacing: -0.96px;
  line-height: 3rem;
}
.technology-today {
  top: 6rem;
  left: 12.18rem;
}
.h2pink {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 46.88rem;
  height: 9rem;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.social-media-technology2 {
  position: absolute;
  top: 0;
  left: 1.25rem;
  line-height: 1.5rem;
}
.and-optimize-your {
  position: absolute;
  top: 1.5rem;
  left: 0.36rem;
  line-height: 1.5rem;
}
.developers-strategists-and,
.social-media-campaigns1 {
  position: absolute;
  top: 3rem;
  left: 0.17rem;
  line-height: 1.5rem;
}
.social-media-campaigns1 {
  top: 4.5rem;
  left: 11.41rem;
}
.pbig2 {
  position: absolute;
  top: 17rem;
  left: 0;
  width: 46.88rem;
  height: 6rem;
  color: var(--color-darkslategray-100);
}
.divreview-head {
  position: relative;
  width: 46.88rem;
  height: 23rem;
  flex-shrink: 0;
}
.photo-1500648767791-00dcc994a4-icon {
  position: absolute;
  top: calc(50% - 71px);
  left: calc(50% - 71px);
  width: 8.88rem;
  height: 8.88rem;
  object-fit: cover;
}
.divreviewitem-avatar {
  position: absolute;
  top: 0;
  left: calc(50% - 76px);
  border-radius: var(--br-133xl);
  background-color: var(--color-lightcyan);
  box-shadow: 0 10px 20px rgba(245, 76, 148, 0.2);
  border: 5px solid var(--color-hotpink);
  box-sizing: border-box;
  width: 9.5rem;
  height: 9.5rem;
  overflow: hidden;
}
.mamdouh {
  position: absolute;
  top: 13.5rem;
  left: 9.27rem;
  font-size: var(--font-size-5xl);
  line-height: 1.88rem;
  font-weight: 600;
}
.amazing-product-five-star {
  position: absolute;
  top: 0;
  left: 2.26rem;
  line-height: 2rem;
}
.support {
  top: 2rem;
  left: 10.49rem;
  line-height: 2rem;
}
.abutton7,
.p7,
.support {
  position: absolute;
}
.p7 {
  top: 16.5rem;
  left: 0;
  width: 25.63rem;
  height: 4rem;
  color: var(--color-darkslategray-100);
}
.abutton7 {
  top: 23.5rem;
  left: calc(50% - 97.89px);
  border-radius: var(--br-31xl);
  background-color: var(--color-hotpink);
  box-shadow: 0 10px 20px rgba(245, 76, 148, 0.2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) 2.92rem var(--padding-lg) var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.divreviewitem-inner {
  position: relative;
  width: 25.63rem;
  height: 27.75rem;
  flex-shrink: 0;
}
.easy-to-use {
  position: absolute;
  top: 16.5rem;
  left: 4.72rem;
  line-height: 2rem;
  color: var(--color-darkslategray-100);
}
.abutton8 {
  position: absolute;
  top: 21.5rem;
  left: calc(50% - 97.89px);
  border-radius: var(--br-31xl);
  background-color: var(--color-hotpink);
  box-shadow: 0 10px 20px rgba(245, 76, 148, 0.2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) 2.92rem var(--padding-lg) var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.divreviewitem-inner1 {
  position: relative;
  width: 25.63rem;
  height: 25.75rem;
  flex-shrink: 0;
}
.essam {
  position: absolute;
  top: 13.5rem;
  left: 10.39rem;
  font-size: var(--font-size-5xl);
  line-height: 1.88rem;
  font-weight: 600;
}
.changed-our-whole {
  position: absolute;
  top: 0;
  left: 0.37rem;
  line-height: 2rem;
}
.tons-of-money {
  position: absolute;
  top: 2rem;
  left: 8.76rem;
  line-height: 2rem;
}
.divreview-row {
  display: flex;
  flex-direction: row;
  padding: var(--padding-77xl) 6.22rem var(--padding-77xl) 5.13rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.26rem;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.divreview-inner,
.team {
  position: absolute;
  display: flex;
  align-items: center;
}
.divreview-inner {
  top: 415.58rem;
  left: 6.23rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6rem;
  text-align: center;
  color: var(--color-hotpink);
}
.team {
  top: 1.17rem;
  left: 6rem;
  line-height: 1.88rem;
  font-weight: 600;
  width: 3.97rem;
  height: 1.69rem;
}
.divslogan5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.13rem;
  height: 4.5rem;
}
.media,
.power-of-social,
.technology1,
.unlock-the {
  position: absolute;
  top: -0.19rem;
  left: 0;
  letter-spacing: -0.96px;
  line-height: 3rem;
  display: flex;
  align-items: center;
  width: 16.36rem;
  height: 3.31rem;
}
.media,
.power-of-social,
.technology1 {
  top: 2.81rem;
  width: 21.74rem;
}
.media,
.technology1 {
  top: 5.81rem;
  width: 8.76rem;
}
.technology1 {
  top: 8.81rem;
  width: 20.85rem;
}
.divteamhead-inner,
.h21 {
  position: absolute;
  width: 23.13rem;
}
.h21 {
  top: 6rem;
  left: 0;
  height: 12rem;
  font-size: var(--font-size-29xl);
}
.divteamhead-inner {
  top: 4.38rem;
  left: calc(50% - 185.01px);
  height: 25rem;
}
.divteamhead {
  position: relative;
  border-radius: var(--br-5xl);
  background: linear-gradient(147.24deg, #01c1f0, #6ce4f9);
  width: 32.59rem;
  height: 34.56rem;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--color-white);
}
.photo-1573496359142-b8d87734a5-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ceo,
.nadia-soliman {
  position: absolute;
  left: 2.63rem;
  display: flex;
  align-items: center;
}
.nadia-soliman {
  top: 26.69rem;
  line-height: 1.88rem;
  font-weight: 600;
  width: 10.35rem;
  height: 1.69rem;
}
.ceo {
  top: 29.44rem;
  font-size: var(--font-size-xl);
  line-height: 2rem;
  color: var(--color-white);
  width: 2.72rem;
  height: 1.38rem;
}
.divteamitem-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.divteamitem {
  position: relative;
  border-radius: var(--br-5xl);
  width: 32.59rem;
  height: 34.56rem;
  flex-shrink: 0;
  overflow: hidden;
}
.somaya-ismail {
  top: 26.69rem;
  left: 2.63rem;
  line-height: 1.88rem;
  font-weight: 600;
  align-items: center;
  width: 10.44rem;
  height: 1.69rem;
}
.cto,
.divteam-inner,
.somaya-ismail {
  position: absolute;
  display: flex;
}
.cto {
  top: 29.44rem;
  left: 2.63rem;
  font-size: var(--font-size-xl);
  line-height: 2rem;
  color: var(--color-white);
  align-items: center;
  width: 2.63rem;
  height: 1.38rem;
}
.divteam-inner {
  top: 496.83rem;
  left: 9.98rem;
  flex-direction: row;
  padding: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.74rem;
  color: var(--color-deepskyblue);
}
.divslogan-icon6 {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 79.34px);
  border-radius: var(--br-17xl);
  width: 4.5rem;
  height: 4.5rem;
}
.faqs {
  position: absolute;
  top: 1.11rem;
  left: 24.54rem;
  line-height: 1.88rem;
  font-weight: 600;
}
.check-the-most {
  position: absolute;
  top: 11rem;
  left: 6.82rem;
  line-height: 1.5rem;
  color: var(--color-darkslategray-100);
}
.divfaq-head {
  position: relative;
  width: 46.88rem;
  height: 12.5rem;
  flex-shrink: 0;
}
.q-what-is {
  position: absolute;
  top: 1.11rem;
  left: 7rem;
  line-height: 1.88rem;
  font-weight: 600;
}
.pseudo1 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(206.3deg, #15fbbf, #019f77);
  width: 4.5rem;
  height: 4.5rem;
}
.divfaqitem-icon,
.svg-icon1 {
  position: absolute;
  overflow: hidden;
}
.svg-icon1 {
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 1.5rem;
  height: 1.5rem;
}
.divfaqitem-icon {
  top: calc(50% - 36px);
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-lightcyan);
  width: 4.5rem;
  height: 4.5rem;
}
.divfaqitem-header {
  position: relative;
  width: 62.38rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.a-solutions-to {
  position: relative;
  line-height: 2rem;
}
.divfaqitem-content {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 15.5rem 0.81rem 7rem;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
}
.divfaq-inner,
.divfaqitem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divfaqitem {
  border-radius: var(--br-5xl);
  background-color: #ebfdf8;
  padding: 2rem 3.5rem;
  align-items: flex-start;
  gap: 0.63rem;
  text-align: left;
  color: var(--color-gray-100);
}
.divfaq-inner {
  position: absolute;
  top: 543.89rem;
  left: 6.23rem;
  padding: 0 19.69rem;
  align-items: center;
  gap: 4.75rem;
  text-align: center;
}
.all-rights-reserved,
.campus-sphere1111111008 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.campus-sphere1111111008 {
  top: 0.06rem;
  letter-spacing: -0.72px;
  line-height: 2.75rem;
  font-weight: 600;
  width: 31.24rem;
  height: 2.56rem;
}
.all-rights-reserved {
  top: 5.69rem;
  font-size: var(--font-size-5xl);
  line-height: 2.38rem;
  width: 23.32rem;
  height: 1.69rem;
}
.divsocials-icon {
  position: absolute;
  top: 12.13rem;
  left: 0;
  width: 35.63rem;
  height: 3.25rem;
}
.divfooter-inner-content {
  position: relative;
  width: 35.63rem;
  height: 20.38rem;
  flex-shrink: 0;
}
.about-us,
.features,
.home1,
.team1,
.website {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 1.69rem;
}
.website {
  top: 0.06rem;
  line-height: 1.88rem;
  font-weight: 600;
  width: 5.94rem;
}
.about-us,
.features,
.home1,
.team1 {
  top: 5.94rem;
  line-height: 2.38rem;
  width: 4.19rem;
}
.about-us,
.features,
.team1 {
  top: 10.06rem;
  width: 6.58rem;
}
.features,
.team1 {
  top: 14.19rem;
  width: 6.16rem;
}
.team1 {
  top: 18.31rem;
  width: 3.87rem;
}
.divfooter-inner-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.11rem;
  height: 20.38rem;
}
.contacts,
.legal,
.privacy-policy,
.returns-refunds,
.terms-conditions {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 1.69rem;
}
.legal {
  top: 0.06rem;
  line-height: 1.88rem;
  font-weight: 600;
  width: 3.93rem;
}
.contacts,
.privacy-policy,
.returns-refunds,
.terms-conditions {
  top: 5.94rem;
  line-height: 2.38rem;
  width: 9.85rem;
}
.contacts,
.returns-refunds,
.terms-conditions {
  top: 10.06rem;
  width: 13.78rem;
}
.contacts,
.returns-refunds {
  top: 14.19rem;
  width: 13.1rem;
}
.contacts {
  top: 18.31rem;
  width: 6.41rem;
}
.divfooter-inner-links1 {
  position: absolute;
  top: 0;
  left: 19.07rem;
  width: 18.11rem;
  height: 20.38rem;
}
.blog,
.changelog,
.pricing,
.resources {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 1.69rem;
}
.resources {
  top: 0.06rem;
  line-height: 1.88rem;
  font-weight: 600;
  width: 7.68rem;
}
.blog,
.changelog,
.pricing {
  top: 5.94rem;
  line-height: 2.38rem;
  width: 4.86rem;
}
.blog,
.changelog {
  top: 10.06rem;
  width: 7.66rem;
}
.blog {
  top: 14.19rem;
  width: 3.14rem;
}
.divfooter-inner-links2 {
  position: absolute;
  top: 0;
  left: 38.14rem;
  width: 18.11rem;
  height: 20.38rem;
}
.divfooter-inner-row {
  position: relative;
  width: 56.25rem;
  height: 20.38rem;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
}
.divfooter,
.divfooter-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divfooter-inner {
  gap: 16.88rem;
}
.divfooter {
  position: absolute;
  top: 583.28rem;
  left: 0;
  background-color: #000;
  padding: 7.5rem 6.23rem;
  font-size: 2.25rem;
  color: var(--color-white);
}
.divcard-body {
  flex: 1;
  position: relative;
  height: 618.86rem;
}
.divcard,
.divkt-wrapper {
  position: absolute;
  width: calc(100% + 19.5px);
  top: 0;
  right: -0.61rem;
  left: -0.61rem;
  background-color: var(--color-white);
}
.divcard {
  border-radius: 8.45px;
  box-shadow: 0 0 20px rgba(76, 87, 125, 0.02);
  display: flex;
  flex-direction: row;
  padding: 0 0.61rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divkt-wrapper {
  height: 618.86rem;
}
.stunning-animatedgif-icon {
  position: absolute;
  top: calc(50% - 15px);
  left: 0.61rem;
  width: 1.88rem;
  height: 1.88rem;
  object-fit: cover;
}
.stunning {
  color: #e674f7;
}
.made-with-stunning-container {
  position: relative;
  line-height: 1.22rem;
  font-weight: 600;
}
.labelms-2 {
  position: absolute;
  top: calc(50% - 9.75px);
  left: 2.89rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ad-flex {
  position: absolute;
  top: 63.39rem;
  left: 1.02rem;
  border-radius: 8.45px;
  background-color: #1f2b3f;
  box-shadow: 0 6.5px 19.5px 6.5px rgba(0, 0, 0, 0.08);
  width: 11.72rem;
  height: 3.09rem;
  overflow: hidden;
  font-size: 0.81rem;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.campus-sphere1111111008stunni {
  position: relative;
  background-color: #f5f5f7;
  width: 100%;
  height: 67.5rem;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumaquamarine);
  font-family: var(--font-inter);
}
