$primary-color: #0077b5;
$secondary-color: #283e4a;
$white-color: #ffffff;
$gray-color: #f2f2f2;


body {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/bg.png");
  overflow-x: hidden;

  
}

.top-level-div {

  background-image: url("../assets/bg.png");
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.home-link,
.documents-link,
.news-link,
.projects-link {
  position: absolute;
  top: -1px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.home-link {
  left: 0;
  font-size: var(--font-size-lgi);
}

.documents-link,
.news-link,
.projects-link {
  left: 176.02px;
}

.news-link,
.projects-link {
  left: 399.02px;
}

.news-link {
  left: 592.47px;
}


.divnav3-inner-links {
  position: absolute;
  top: calc(50% - 12.68px);
  left: 345.22px;
  width: 701.23px;
  height: 25.36px;
}
.login {
  position: relative;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.h4fs-1 {
  position: absolute;
  top: calc(50% - 39.65px);
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 9.44000244140625px 0.4000000059604645px 0;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  height: 50px;
}

.divheader3-inner {
  position: relative;
  width: 1302.7px;
  height: 73px;
  flex-shrink: 0;
}
.divheader {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-99xl);
  align-items: flex-start;
  justify-content: flex-start;
  height: 40px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico&display=swap');

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: black;
  font-size: large;
  text-transform: uppercase;
  text-shadow: #283e4a;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  font-style: italic;
  font-family: 'Pacifico', cursive;
}







.login-wrapper {
  background-color: $gray-color;
  border: 1px solid $gray-color;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -60%);
  }
}

.linkedinLogo {
  display: block;
  margin: 0 auto 20px;
  max-width: 70%;
}

.login-wrapper-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 20px);
  }
}

.heading {
  color: $secondary-color;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sub-heading {
  color: $secondary-color;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.auth-inputs {
  margin-bottom: 20px;

  .common-input {
    background-color: $gray-color;
    border: none;
    border-radius: 4px;
    color: $secondary-color;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    width: 100%;

    &::placeholder {
      color: $secondary-color;
      opacity: 0.8;
    }
  }
}

.login-btn {
  background-color: #ff007f;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #ff005f;
}

.hr-text {
  color: $secondary-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
  margin: 30px 0;
  text-align: center;

  &:before,
  &:after {
    background-color: $secondary-color;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
  }

  &:before {
    right: 5%;
    margin-left: -50%;
  }

  &:after {
    left: 5%;
    margin-right: -50%;
  }
}

.google-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .go-to-signup {
    color: $secondary-color;
    font-size: 14px;
   
  }
}

.loginc {
  color : black;
}
