.topbar-main {
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  background-color: black;
}
.linkedin-logo {
  width: 65px;
  margin-left: 20px;
}
.react-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  margin-left: 30px;
}

.react-icon {
  color: #787878;
  cursor: pointer;
}

.react-icon:hover {
  color: black;
}

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.popup-position {
  position: absolute;
  right: 10px;
  top: 65px;
  z-index: 99;
}

.search-results {
  position: absolute;
  left: 100px;
  top: 60px;
  width: 240px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #bbbbbb;

  .search-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      font-family: system-ui;
      font-size: 18px;
    }
  }

  .search-inner:hover {
    background-color: #bbbbbb;
  }
}

.h4fs-1 {
  position: absolute;
  top: calc(50% - 39.65px);
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 9.44000244140625px 0.4000000059604645px 0;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
}
.home-link,
.documents-link,
.news-link,
.projects-link {
  position: absolute;
  top: -1px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.home-link {
  left: 0;
  font-size: var(--font-size-lgi);
}

.documents-link,
.news-link,
.projects-link {
  left: 176.02px;
}

.news-link,
.projects-link {
  left: 399.02px;
}

.news-link {
  left: 592.47px;
}


.divnav3-inner-links {
  position: absolute;
  top: calc(50% - 12.68px);
  left: 345.22px;
  width: 701.23px;
  height: 25.36px;
  background-color: rgba(0, 0, 0, 0.5);
  
}
.divheader3-inner {
  position: relative;
  width: 1302.7px;
  height: 73px;
  flex-shrink: 0;
}
.divheader {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-99xl);
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-text {
  margin-right: 1rem;
}
.topicons{
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-poppins);
}
.logo {
  color: white;
}
