.search-users {
  width: 40%;
  margin-left: 15px;
  display: flex;
  align-items: center;
  .close-icon {
    margin-left: -30px;
    color: white;
  }
  input {
    width: 100%;
    height: 30px;
    background-color: black;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    color: #8251c5;
    padding-left: 10px;
    font-size: 14px;
    outline: none;
    font-family: Inter;
  }

  input:focus {
    border: 1px solid black;
  }

  ::placeholder {
    font-size: 14px;
    font-family: Inter;
  }
}
